{% extends "base.html" %}

{% block title %}Vulns{% endblock %}

{% block content %}
{% include "vuln/nav.html" %}

<p>Lista de Vulnerabilidades
<a href="{% url 'vuln:vuln_new' %}" class="btn btn-primary" role="button">Novo</a>
</p>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Desc</th>
                    <th>Ativo afetado</th>
                    <th>Severidade</th>
                    <th>Status</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for vuln in vulns %}
                    <tr>
                    <td>{{ vuln.name }}</td>
                    <td>{{ vuln.desc|truncatechars_html:40 }}</td>
                    <td>{{ vuln.afetado }}</td>
                    <td>{{ vuln.severidade }}</td>
                    <td>{{ vuln.status }}</td>
                    <td>
                        <a href="{% url 'vuln:vuln_view' vuln.id %}" class="btn btn-xs btn-default" role="button">Detalhes</a>
                        <a href="{% url 'vuln:vuln_edit' vuln.id %}" class="btn btn-xs btn-warning" role="button">Editar</a>
                        <a href="{% url 'vuln:vuln_delete' vuln.id %}" class="btn btn-xs btn-danger" role="button">Deletar</a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
